soap/CalcClient/xml-resources/web-service-references/Calc1/wsdl/localhost_8080/Calc1/Calc1.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://pack1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pack1/">

<xs:element name="add" type="tns:add"/>

<xs:element name="addResponse" type="tns:addResponse"/>

<xs:element name="sub" type="tns:sub"/>

<xs:element name="subResponse" type="tns:subResponse"/>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="number1" type="xs:float"/>
<xs:element name="number2" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sub">
<xs:sequence>
<xs:element name="number1" type="xs:float"/>
<xs:element name="number2" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>